<style>
.badge-primary {
    color: #fff;
    background-color: #007bff;
}
.badge-success {
    color: #fff;
    background-color: #28a745;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    box-sizing: border-box;
}
</style>

<h{{ include.titleh }} style="display:inline-block">{{ include.title }} <span class="badge badge-{{ include.badge }}"> {{include.text }} </span></h{{include.titleh}}>