<header class="site-header bg-light" role="banner">

  <div class="wrapper bg-light">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}    
    {%- if page_paths -%}
        {% assign navurl = page.url | remove: 'index.html' %}        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="{{ "/" | relative_url }}">
            <img src="{{ "/" | relative_url }}assets/icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            <span>{{ site.title | escape }}</span>
          </a> 
          <div class="" id="navbarNav">
            <ul class="navbar-nav">              
                {% for page in site.pages %}
                {% unless page.exclude %}
                   {% if page.title %}
                   <li class="nav-item active"><a class="nav-link" href="{{ page.permalink }}">{{ page.shortname }}</a></li>
                   {% endif %}
                {% endunless %}
                {% endfor %}   
              </li>
            </ul>
          </div>
        </nav>
    {%- endif -%}
  </div>
</header>
