---
layout: default
--- 
<div class="row">
  <div class="col-9">
    <header class="post-header">
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>        
    </header>
  </div>         
  <div class="col-3" style="text-align:center;">
    {%- if page.descargas -%}
      <a class="btn" role="button" href="data/{{ page.descargas }}"><button type="button" class="btn btn-primary btn-block"><i class="fas fa-download"></i> Descargar materiales</button></a>     
    {%- endif -%}                   
  </div>        
</div>

<div class="post-content">
  {{ content }}
</div>