<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>    

    {%- include header.html -%}

    <div class="container">

    <main class="page-content" aria-label="Content">    
      <div class="row">
        <div class="col-9">
          <header class="post-header">
            <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>        
          </header>
        </div>         
        <div class="col-3" style="text-align:center;">
          {%- if page.descargas -%}
            <a class="btn" role="button" href="data/{{ page.descargas }}"><button type="button" class="btn btn-primary btn-block"><i class="fas fa-download"></i> Descargar materiales</button></a>     
          {%- endif -%}                   
        </div>        
      </div>

    <div class="col-12 e-content" itemprop="articleBody">    
    <!--div class="post-content e-content" itemprop="articleBody"-->    
      {{ content }}
    </div>

    {%- if site.disqus.shortname -%}
      {%- include disqus_comments.html -%}
    {%- endif -%}

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

  </div>
</div>
  
</main>


  {%- include footer.html -%}

  </body>

</html>